<section class="min-h-screen bg-neutral-100">
  <div class="space-y-6 px-3 py-4 md:p-6">
    <header class="flex justify-between items-center gap-8 mb-7 bg-gradient-to-r from-primary to-[#017F76] rounded-lg p-4 sm:p-6">
      <div>
        <h1 class="text-xl md:text-4xl font-bold tracking-wide text-white">{{ title }}</h1>
        <h2 class="text-white/90 mt-1 text-sm md:text-base">
          {{ subtitle }}
        </h2>
      </div>
      <div>
        <ng-content select="[actions]"></ng-content>
      </div>
    </header>
    @if (loading) {
    <ng-content select="[loading]"></ng-content>
    } @else {
    <ng-content></ng-content>
    }
  </div>
</section>
